@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
  --color-loteria-blue: #0a243a;
  --color-loteria-blue-light: rgba(10, 36, 58, 0.9);
  --color-loteria-orange: #f5842a;
  --color-loteria-cream: #fbf8f3;
}

.loader {
  width: 200px;
  height: 200px;
  border: 30px dotted #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
